.container{
    width: 332px;
    height: 148px;
    top: 55%;
}
.image img{
    position: relative;
    width: 90%;
    top: -176%;
}
.text{
    
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-bottom: 11px;
}
.button{
    font-size: 10px;
    height: 35px;
}
.loader-wrapper img{
    width: 30%;
}
.facts{
    width: 77%;
    font-size: 13px;
    line-height: 15px;
}